<section class="container">
  <div id="search-menu" class="search-menu">
    <%= render 'search_menu', object: 'favorares' %>
  </div>
  <div class="heading">
    <img src="http://free-illustrations-ls01.gatag.net/images/lgi01a201410280000.jpg" />
    <h2>Favorare list</h2>
  </div>
  <% favorares.each do |favorare| %>
    <div class="row favorare-container">
      <div class="col-md-6 content">
        <% content = favorare %>
        <div class="row text">
          <p><%= simple_format(h(content.text)) %></p>
        </div>
        <div class="row items">
          <div class="col-md-1 rt-image">
            <img src="http://pic.prepics-cdn.com/020505/45831286.gif" />
          </div>
          <p class="col-md-2 rt-cnt"><%= content.retweet_count %></p>
          <div class="col-md-1 fav-image">
            <img src="http://www.civillink.net/esozai/img/pics2264.gif" />
          </div>
          <p class="col-md-2 fav-cnt"><%= content.favorites_count %></p>
        </div>
      </div>
    </div>
  <% end %>
</section>
