<section class="container">
  <div class="heading">
    <img src="http://free-illustrations-ls01.gatag.net/images/lgi01a201401181000.jpg" />
    <h2>Retweet list</h2>
  </div>
  <% rts.each do |rt| %>
    <div class="row rt-container">
      <div class="col-md-2 icon">
        <div class="icon-image">
          <%= image_tag rt.user.profile_image_uri_https %>
        </div>
        <p class="username"><%= rt.user.name %></p>
        <p class="time"><%= rt.created_at.in_time_zone(user.time_zone).strftime("%Y-%m-%d %H:%M:%S") %></p>
      </div>
      <div class="col-md-6 content">
        <%= render 'content', object: rt %>
      </div>
    </div>
  <% end %>
</section>
