// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
* {
  border: 1px;
  border-style: groove;
  border-color: #88F;
}
//*/

.container {
  margin-bottom: 30px;
}

h2 {
  margin: 2rem 1rem;
  color: #AACCCC;
}

img {
  height: 100%;
  width: auto;
}

.heading {
  img {
    float: left;
    margin-right: 10px;
    height: 30px;
  }
}

.user-profile {
  border: 0.1rem solid #FFEAEA;
  background-color: #FEFEFD;
  .image {
    height: 80px;
    width: auto;
    margin: 10px 10px;
  }
  .description {
    height: 160px;
    width: auto;
    margin: 10px 10px;
  }
}

ul.tab-menu {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #203040;
    background-color: #FAFAFA;
    span {
      padding: 0 15px;
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center;
    }
    :hover {
      color: #FAFAFA;
      background-color: #203040;
    }
  }
}

ul.tab-content {
  padding: 0;
  background-color: #FAFAFA;
  li {
    list-style-type: none;
  }
}

.favo-container, .favorare-container, .rt-container, .rtrare-container {
  margin: 2rem;
  border: 0.2rem solid #EEEEEF;
  background-color: #FAFCFF;
  p {
    font-weight: bold;
  }
  .icon {
    margin-top: 5px;
    //background-color: #FAFAFF;
    text-align: center;
    .icon-image {
      height: 50px;
    }
    .username {
      margin: 0;
      font-size: 1.2rem;
    }
    .time {
      margin: 0;
      font-size: 0.9rem;
      font-weight: normal;
    }
  }
  .content {
    background-color: #FFFFFF;
    .text {
      margin: 0;
      padding-left: 5px;
      font-size: 1.1rem;
    }
    .items {
      height: 20px;
      display: inline-block;
      font-size: 1rem;
    }
    .rt-image, .fav-image {
      height: 18px;
    }
  }
}
